
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<div>
    <p id="test">

    </p>
</div>
<div id="app-container" style="align-content: center">
    
</div>

<script src="~/Scripts/game/main.js"></script>

